<div class="layout">
  <div id="viewport" #list>
    <div *uiScroll="let message of datasource ; let i = index">
      <div class="item">
        <!--      <pre>{{message | json}}</pre>-->
        <div>{{message?.ts | date : 'dd-MM hh:mm'}} </div>
        <div> <p>{{i}} <b>{{message?.text}}</b></p></div>
      </div>
    </div>

  </div>
  <div class="logs">
    <div>Elements in DOM: {{datasource.adapter.itemsCount}}</div>

  </div>
  <div class="logs">
    <pre>{{messageServerResult | json}}</pre>
  </div>

</div>


